:root {
    --collection-1-red3: rgba(222, 108, 131, 1);
    --collection-1-purple32: rgba(206, 188, 205, 1);
    --collection-1-lightblue3: rgba(221, 228, 240, 1);
    --system-colors-grays-black: rgba(0, 0, 0, 1);
  }